# --- فریم‌ورک اصلی ربات ---
pyTelegramBotAPI==4.14.0

# --- وب سرور ---
fastapi
uvicorn[standard]

# --- پردازش تصویر و متن ---
Pillow
arabic-reshaper
python-bidi

# --- سایر ابزارها ---
python-multipart
